CarneadesWebClient/src/wsdl/CarneadesServiceManager.wsdl

<definitions name='CarneadesServiceManagerService' targetNamespace='http://carneades.fokus.org/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://carneades.fokus.org/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://carneades.fokus.org/' version='1.0' xmlns:tns='http://carneades.fokus.org/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='askEngine' type='tns:askEngine'/>
   <xs:element name='askEngineResponse' type='tns:askEngineResponse'/>
   <xs:complexType name='askEngine'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='askEngineResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:carneadesMessage'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='carneadesMessage'>
    <xs:sequence>
     <xs:element minOccurs='0' name='message' type='tns:statement'/>
     <xs:element minOccurs='0' name='state' type='xs:anyType'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='statement'>
    <xs:sequence>
     <xs:element minOccurs='0' name='predicate' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='CarneadesService_askEngine'>
  <part element='tns:askEngine' name='askEngine'></part>
 </message>
 <message name='CarneadesService_askEngineResponse'>
  <part element='tns:askEngineResponse' name='askEngineResponse'></part>
 </message>
 <portType name='CarneadesService'>
  <operation name='askEngine' parameterOrder='askEngine'>
   <input message='tns:CarneadesService_askEngine'></input>
   <output message='tns:CarneadesService_askEngineResponse'></output>
  </operation>
 </portType>
 <binding name='CarneadesServiceBinding' type='tns:CarneadesService'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='askEngine'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='CarneadesServiceManagerService'>
  <port binding='tns:CarneadesServiceBinding' name='CarneadesServiceManagerPort'>
   <soap:address location='http://127.0.0.1:8080/carneadesws/CarneadesServiceManager'/>
  </port>
 </service>
</definitions>